<section>
  <div class="dropdown-container" ng-class="{ show: listVisible }">
    <div class="dropdown-display" ng-click="show();" ng-class="{ clicked: listVisible }">
      <span ng-if="!isPlaceholder">{{display}}</span>
      <span class="placeholder" ng-if="isPlaceholder">{{placeholder}}</span>
      <i class="fa fa-angle-down"></i>
    </div>
    <div class="dropdown-list">
      <div>
        <div ng-repeat="item in list" ng-click="select(item)" ng-class="{ selected: isSelected(item) }">
          <span>{{property !== undefined ? item[property] : item}}</span>
          <i class="fa fa-check"></i>
        </div>
      </div>
    </div>
  </div>
</section>
<!--
<section>
  <div class="btn-group" dropdown keyboard-nav>
    <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
        Dropdown with keyboard navigation <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
    </ul>
  </div>
</section> -->
