<section>
    <button type="button" class="btn btn-default dropdown-toggle"
            id={{vm.buttonId}} data-ng-disabled="disabled" dropdown-toggle>
      {{vm.buttonText}} <span class="caret"></span></button>
    <ul class="dropdown-menu dropdown-class" style="-webkit-columns:{{vm.numcols()}}" id={{vm.ulId}} role="menu">
      <li class="drop-column" data-ng-repeat="item in vm.items track by $index">
         <!-- a tag also for bootstrap styling -->
        <a data-ng-click="vm.select({item: item})">{{item}}</a>
      </li>
    </ul>
</section>
