<section>
  <div class="col-md-6">
    <timepicker data-ng-model="modelOpen" data-ng-change="changed()" data-hour-step="hoursStep" data-minute-step="minutesStep"></timepicker>
  </div>
  <div class="col-md-6">
    <timepicker data-ng-model="modelClose" data-ng-change="changed()" data-hour-step="hoursStep" data-minute-step="minutesStep"></timepicker>
  </div>
  <div style="display: flex" class="alert alert-info">{{labelText}} {{modelOpen | date:'shortTime'}} - {{modelClose | date:'shortTime'}}</div>
  <button class="btn btn-danger" data-ng-click="clear()">Clear</button>
</section>
