<section>
  <label>{{labelText}}</label>
  <div>
    <timepicker data-ng-model="tuesday.open" data-ng-change="changed()" data-hour-step="hoursStep" data-minute-step="minutesStep"></timepicker>
  </div>
  <div>
    <timepicker data-ng-model="tuesday.close" data-ng-change="changed()" data-hour-step="hoursStep" data-minute-step="minutesStep"></timepicker>
  </div>
  <div style="display: flex" class="alert alert-info">{{day}} {{tuesday.open | date:'shortTime'}} - {{tuesday.close | date:'shortTime'}}</div>
  <button class="btn btn-danger" data-ng-click="clear()">Clear</button>
</section>
