<section data-ng-controller="authController">
  <form data-ng-submit="authSubmit(user)">
    <label for="username">Username</label>
    <input type="text" name="username" required data-ng-model="user.username">
    <label for="password">Password</label>
    <input type="password" name="password" required data-ng-model="user.password">
    <label for="password_confirmation">Confirmation</label>
    <input type="password" name="password_confirmation" required data-ng-model="user.password_confirmation">
    <button type="submit">Create User</button>
  </form>
</section>
