<section class="sign-in">
  <div class="header">
    <h3>Admin Sign In</h3>
    <img class="logo-small"
         src="https://s3.amazonaws.com/images.rialtollc/QqPuDkRA-HIN-black_72dpi.png">
  </div>
  <form name="signInForm" data-ng-submit="signIn(user)">
    <div data-input-field-directive data-title="Email" type="email"
         data-model="user.email" data-is-required="true">
    </div>
    <div data-input-field-directive data-title="Password" type="password"
         data-model="user.password" data-is-required="true">
    </div>
    <aside class="error">
      <ul class="error-list" data-ng-if="errors.length">
        <li class="error-item" data-ng-repeat="error in errors">{{error.msg}}</li>
      </ul>
    </aside>
    <div class="btn-bottom">
      <button class="btn btn-primary" type="submit"
              data-ng-disabled="signInForm.$invalid">Sign in</button>
    </div>
  </form>
</section>
