
/* ======= BOOTSTRAP OVERRIDES ====== */

.btn {
  min-width: 50px;
}

.btn-danger {
  background-color: #d86968;
  border-color: #d86968;
}

.btn-default {
  background-color: #f8f8f8;
  color: #222;
}

.btn-default:hover {
  background-color: #ddd;
}

.btn-danger, .btn-success, .btn-primary {
  min-width: 75px;
}

.form-control {
  margin-bottom: 3px;
}

.form-group {
  margin-bottom: 5px;
}

.form-control {
  padding: 6px 6px 6px 9px;
  margin-bottom: 3px;
}

.list-group-item {
  padding: 2px 8px;
}

/* font-awesome overrides */

.fa-button {
  cursor: pointer;
  opacity: 0.4;
  font-size: 1.2em;
}

.fa-button:hover {
  opacity: 1.0;
}

.fa-ban:hover {
  color: #fcca02;
}

.fa-remove:hover {
  color: #c9302c;
}

.fa-trash-o:hover {
  color: #f70d09;
}

/* ======= PAGE & CONTROL STYLING ======== */

body {
  background-color: #444;
  margin: 0 auto;
}

.container {
  background-color:#555;
  width: 1100px !important;
  margin: 0 auto;
  margin-top:25px;
}

.inner {
  display:none;
  margin: 0px auto;
  width: 95%;
  background-color:#fdfdfd;
  padding: 30px 0;
  background-image: url(https://s3.amazonaws.com/images.rialtollc/QqPuDkRA-HIN-black_72dpi.png);
  background-repeat: no-repeat;
  background-position: 80% 45%;
  background-size: 250px auto;
}

.default-text {
  color: #333;
}

.none-left {
  padding-left: 0;
  margin-left: 0;
}

h4, h5 {
  display: block;
}

label {
  margin-bottom: 0px;
  color: #555;
}

input::-webkit-input-placeholder {
  color: #d8d8d8 !important;
  font-style: italic;
}

input:-moz-placeholder { /* Firefox 18- */
  color: #d8d8d8 !important;
  font-style: italic;
}

input::-moz-placeholder {  /* Firefox 19+ */
  color: #d8d8d8 !important;
  font-style: italic;
}

input:-ms-input-placeholder {
  color: #d8d8d8 !important;
  font-style: italic;
}

.col-md-1, .col-md-10,
.col-md-11, .col-md-12,
.col-md-2, .col-md-3,
.col-md-4, .col-md-5,
.col-md-6, .col-md-7,
.col-md-8, .col-md-9 { /* bootstrap override */
  padding-left: 6px;
  padding-right: 6px;
}

.clearfix {
  clear: both;
}

.tooltip {
  font-size: 1em;
}

/* overall form shading */

button.list-group-item, .form-control {
  background-color: #fafafa;
}

.inner, .main-left, .main-right {
  background-color: #f2f2f2;
}

.btn-default {
  background-color: #f3f1ed !important;
}

/* spinner */

.waiting-to-load {
  background-image: url('hinton_load.png');
  position: fixed;
  top: 325px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
  height: 144px;
  width: 144px;
}

/**
 * CSS spinner thanks to http://lea.verou.me/2013/11/cleanest-css-spinner-ever/
 */

@keyframes spin {
  to { transform: rotate(1turn); }
}

.loading {
  position: relative;
  top: -80px;
  display: inline-block;
  width: 5em;
  height: 5em;
  margin: 0 .5em;
  font-size: 8px;
  text-indent: 999em;
  overflow: hidden;
  animation: spin 1s infinite steps(8);
}

.loading:before,
.loading:after,
.loading > div:before,
.loading > div:after {
  content: '';
  position: absolute;
  top: 0;
  left: 2.35em; /* (container width - part width)/2  */
  width: .3em;
  height: 1.5em;
  border-radius: .2em;
  background: #eee;
  box-shadow: 0 3.5em #eee; /* container height - part height */
  transform-origin: 50% 2.5em; /* container height / 2 */
}

.loading:before {
  background: #555;
}

.loading:after {
  transform: rotate(-45deg);
  background: #777;
}

.loading > div:before {
  transform: rotate(-90deg);
  background: #999;
}

.loading > div:after {
  transform: rotate(-135deg);
  background: #bbb;
}

/* ----- END CSS Spinner ------ */

/* ======= RESTAURANT FORM ======= */

/* forcing overrides */

#r_name {
  margin-left: -1px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

#r_item {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* ------------ */

.logout {
  float: right;
  padding-right: 20px;
}

.main-left {
  margin: 0;
  display: inline;
  float:left;
  margin: 0;
  padding: 0 15px;
  margin-bottom: 8px;
}

.main-right {
  float: right;
  margin: 0;
  padding: 0 20px;
  opacity: 0.96;
  min-height: 700px;
}

.btn-bottom {
  padding-top: 10px;
  clear: both;
}

.btn-mid {
  margin: 0 12px;
}

.btn-lg {
  padding: 10px 16px;
  font-size: 14px;
  line-height: 1.3333333;
  border-radius: 6px;
}

#server-res {
  margin-top: 10px;
  color: #115;
  font-style: italic;
}

/* preview (main-right) */

.header-type, .dollars, .genre {
  font-size: 1.2em;
  font-weight: normal;
}

.h-rule {
  border-bottom: 1px solid #ccc;
  height: 15px;
}

.photo-edit-caption {
  border: none;
  min-height: 34px;
  padding-top: 3px;
  line-height: 1.2em;
}

.preview {
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 0px 9px 9px 9px;
  border-radius: 5px;
}

.preview-genre {
  padding:9px 0;
}

.button-genre {
  margin-right: 3px;
  margin-top: 3px;
  border-radius: 4px;
}

.preview-hours {
  padding: 15px 0 0 6px;
}

.preview-urls {
  padding: 15px 0;
}

.preview-featured {
  cursor: pointer;
  font-style: italic;
  text-align:left;
  padding: 0 0 9px 0;
}

.preview-featured-more {
  border-bottom: 1px solid #bbb;
}

.restaurant-name {
  margin-top: 0;
}

.photo-caption {
  font-style: italic;
  line-height: 1.25em;
}

.photo-url {
  position: relative;
  top: -4px;
  left: 8px;
}

/* ========== MODALS ========== */

/* bootstrap modal overrides */

.modal-backdrop {
  opacity: 0.3 !important;
}

/* behaviors for delete, success and sign-in modals */

.modal-display { /* all */
  text-align: center;
  padding: 1.3em;
  box-shadow: 0 5px 25px rgba(0,0,0,0.4);
  background-color: #FAFAF9;
  border-radius: 6px;
  font-size: 1.1em;
  color: #337ab7;
}

.modal-button {
  text-align: center;
}

.modal-header {
  padding: 0 0 0.5em 0;
}

.modal-header h3, .modal-header p, .modal-header img {
  margin: 0.5em 0.5em;
}

.modal-input-container {
  text-align: left;
  margin: 1.5em 0;
}

.sign-in .header, .delete-warning, .success-alert {
  text-align: center;
}

.sign-in, .delete-warning, .success-alert {
  padding: 1.5em;
}

/* success */

.modal-success {
  padding-top: 10px;
}

#success-alert {
  padding: .9em .5em;
  font-size: 1.2em;
}

#success-alert button {
  margin-top: 1em;
}

.success-error {
  color:red;
  font-weight: bold;
}

/* sign-in */

#sign-in-button {
  text-align: left;
}

.logo-small {
  height: 6em;
  margin-top: 1em;
}

.error { /* consider prefixing this or using object... easy to step on */
  color: red;
}

.error-list {
  padding: 0;
  margin: 1em 0;
}

.error-item {
  list-style: none;
  text-align: left;
}

/* delete warning */

#delete-warning .modal-button {
  display: inline;
}

#delete-warning button {
  margin: 1.5em 1em 0 1em;
}

.warning-question {
  color: #C81717;
}

.warning-info {
  color: #337AB7;
}

/* image upload modal */

.lb-modal {
  text-align: center;
}

.image-preview {
  padding-top: 0;
  overflow: auto;
}

.file-wrapper hr {
  float: left;
  border-color: #c8c8c8;
  width: 99%;
  margin: 8px 0;
}

.image-thumb {
  min-height: 1px;
  background-color: #686868;
  padding-left: 0;
  position: relative;
  box-sizing: border-box;
}

.image-wrapper {
  min-height: 1px;
  padding-top: 6px;
  padding-top: 80%;
}

.image-fill {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.image-info {
  min-height: 1px;
  padding:0;
}

.image-props {
  height: 32px;
  padding: 5px 5px 4px 9px;
}

#file-holder {
  position: relative;
  cursor: pointer;
  border: 1px solid #7ba9d0;
  border-radius: 6px;
  text-align: center;
  height: 65px;
}

#file-input {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
  cursor: pointer;
}

#file-msg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width:100%;
  padding-top: 20px;
  color: #337ab7;
  font-size: 16px;
  font-weight: 400;
}

/* image upload progress bar */

.progress { /* ui.bootstrap override */
  height: 12px;
  animation-timing-function: ease-out;
}

.progress-wrapper {
  padding-top: 11px;
  margin-left: 10px;
}

.ext-error { /* for modal filename input wrong/missing extension */
  color: #FF1C00;
  font-size: .95em;
  margin: 0;
  padding: 0 0 6px 6px;
  font-style: italic;
}

/* lightbox modal (lb-modal) */

.lb-modal .modal-dialog {
  margin-top: 0;
  width: auto;
  display: inline-block;
}
.lb-modal .modal-content {
  display: inline;
}

.lb-modal-wrapper {
    text-align: center;
    margin: 10px;
    display: inline-block;
}

.lb-modal-container {
    display: inline-block;
    border: 1px solid #888;
    border-radius: 6px;
    padding: 6px 17px 17px;
    position:relative;
    text-align: left;
    background-color: #fafafa;
}

.lb-modal-image {
    clear: both;
    display:block;
    max-width: 700px;
    max-height: 700px;
    height:auto;
    width:auto;
    background-color: #fefefe;
}

.lb-modal-caption {
    float: left;
    padding:0 0 6px 0;
    font-family: "helvetica neue";
    font-size: 1.1em;
    color:#3276b1;
    font-style:italic;
    width: 93%;
}

.lb-modal-close {
    float: right;
    padding: 0 0 6px 0;
    font-size: 1.3em;
    color: #bababa;
    cursor: pointer;
}

.lb-modal-close:hover {
    font-weight: bold;
    color: #888;
}

/* END lightbox modals */

/* ======== END MODALS ========= */

