body {
  background-color: #444;
  margin: 0 auto;
}

.container {
  background-color:#555;
  width: 1100px !important;
  margin: 0 auto;
  margin-top:25px;
}

.inner {
  margin: 0px auto;
  width: 95%;
  background-color:#fdfdfd;
  padding: 30px 0;
  background-image: url(https://s3.amazonaws.com/images.rialtollc/QqPuDkRA-HIN-black_72dpi.png);
  background-repeat: no-repeat;
  background-position: 80% 45%;
  background-size: 250px auto;
}

/*h3 {
  margin: 10px 10px;
}


*/

input::-webkit-input-placeholder {
color: #d8d8d8 !important;
font-style: italic;
}

input:-moz-placeholder { /* Firefox 18- */
color: #d8d8d8 !important;
font-style: italic;
}

input::-moz-placeholder {  /* Firefox 19+ */
color: #d8d8d8 !important;
font-style: italic;
}

input:-ms-input-placeholder {
color: #d8d8d8 !important;
font-style: italic;
}

.col-md-1, .col-md-10,
.col-md-11, .col-md-12,
.col-md-2, .col-md-3,
.col-md-4, .col-md-5,
.col-md-6, .col-md-7,
.col-md-8, .col-md-9 {
   padding-left: 6px;
   padding-right: 6px;
}
.main-left {
  margin: 0;
  display: inline;
  float:left;
  margin: 0;
  padding: 0 15px;
  margin-bottom: 8px;
}

.main-right {
  float: right;
  margin: 0;
  padding: 0 20px;
  background-color: #fdfdfd;
  opacity: 0.96;
}
/*.form-control {
  background-color: #eaead6;
  font-size: 15px;
  height: 28px;
}*/
.form-control {
  margin-bottom: 3px;
}

.form-group {
  margin-bottom: 5px;
}

.form-control {
  padding: 6px 6px 6px 9px;
}

.btn {
  min-width: 50px;
}

.btn-default {
  background-color: #f8f8f8;
  color: #222;
}

.btn-default:hover {
  background-color: #ddd;
}

.btn-rt {
  float: right;
}


.btn-bottom {
  padding-top: 10px;
  clear: both;
}

.btn-md {
  width:100px;
}

.clearfix {
  clear: both;
}

label {
  margin-bottom: 0px;
  color: #555;
}

#server-res {
  margin-top: 10px;
  color: #115;
  font-style: italic;
}

.list-group-item {
  padding: 0 10px;
}

#restaurant-info {
}

#restaurant-photos {

}

.timepicker .btn {
    width: 50px;
    margin-bottom: 7px;
}

.tooltip {
  font-size: 1em;
}

.tooltip-inner {

}

/* preview */

.header-type, .dollars, .genre {
  font-size: 1.2em;
  font-weight: normal;
}

h4, h5 {
  display: block;
}

.h-rule {
  border-bottom: 1px solid #ccc;
  height: 15px;
}

.preview {
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 0px 9px 9px 9px;
  border-radius: 5px;
}

.preview-genre {
  padding:9px 0;
}

.preview-hours {
  padding: 15px 0 0 6px;
}

.preview-urls {
  padding: 15px 0;
}

.preview-featured {
  cursor: pointer;
  font-style: italic;
  text-align:left;
  padding: 6px 0;
}

.preview-featured-more {
  border-bottom: 1px solid #bbb;
}

.carousel {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-bottom: 80%;
  margin-top: 20px;
}
