
.clearfix {
  clear: both;
}

body {
  background-color: #444;
  margin: 0 auto;
}

.container {
  background-color:#555;
  width: 900px !important;
  margin: 0 auto;
  margin-top:25px;
}

.inner {
  margin: 0px auto;
  width: 95%;
  background-color:#f4f4f4;
  padding: 30px 0;

}
h3 {
  margin: 10px 10px;
}

h4 {
  padding: 5px 0 5px 20px;
}

.col-md-1, .col-md-10,
.col-md-11, .col-md-12,
.col-md-2, .col-md-3,
.col-md-4, .col-md-5,
.col-md-6, .col-md-7,
.col-md-8, .col-md-9 {
  padding: 2px 5px 0px 15px;
}

.visible {
  overflow:visible;
}

.main-left {

  margin: 0;
  display: inline;
  float:left;
  margin: 0;
  padding: 0 20px;
}

.main-right {
  float: right;
  margin: 0;
  padding: 0 20px;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.form-group {
  margin-bottom: 5px;
}

.form-control {
  background-color: #fbfcfa;
  font-size: 15px;
  height: 24px;
  padding: 1px 8px 2px 8px;
  border-radius: 2px;
}
.main-left .form-control {
  margin-bottom: 0px;
}

.combobox {
  display: inline-block;
}

input .combobox {
  border-right:none;
}

.input-group-addon {
  padding:0 8px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-top-right-radius: 2px;
}

.hours {
  margin-bottom: 5px;
  padding-left:20px;
}

.hours .col-md-2 {
  margin-right: -15px;
  padding-left: 0px;
  padding-top 0px;
}

.hours .col-md-3 {
  padding-right: 10px;
  padding-top 0px;
  padding-left: 5px;
}

.hour-label {
  padding-left: 0px;
  margin-right: 0px;
  float:left;
  width:85px;
}

.btn {
  margin: 10px;
  width: 100px;
}

.btn-rt {
  float: right;
}

.btn-bottom {
  margin-left: 10px;
  clear: both;
  width: 95%;
}

.btn-md {
  width:100px;
}

label {
  margin-bottom: 1px;
  color: #555;
  font-size:13.5px;
  }

.hours select, .combobox {
  padding: 0 0 0 5px;
}

.alt_hour {
  margin: 15px 10px 5px 5px;
}
