<main data-ng-controller="restaurantFormController" data-ng-init="updateFromDB()">

  <section class="main-left col-md-6">

    <div data-ng-if="isSignedIn()">
      <button type="button" class="btn btn-default" data-ng-click="logout()">Logout</button>
    </div>

    <div data-ng-if="!(isSignedIn())">
      <button type="button" class="btn btn-default" data-ng-click="logout()">Sign In</button>
    </div>

    <!-- form -->
    <form id="restaurant-form" data-ng-submit="submitForm()">

      <div class="form-group col-md-12">
        <label>Restaurant Search</label>
        <div class="input-group">
          <input type="text" class="form-control" data-ng-autocomplete data-ng-focus="clearForm()"
                 data-ng-model="restaurant.googleAddress"
                 data-id="gSearch"
                 data-options="options"
                 data-details="details" placeholder="search for [filter] place name" autofocus>
          <div class="input-group-btn">
            <button type="button" class="btn btn-default"
                    data-ng-click="populateAddress()">
              Use
            </button>
          </div>
        </div>
      </div>

      <div class="form-group col-md-8">
        <label>Restaurant Name</label>
        <div class="input-group">
          <div data-dropdown-directive class="input-group-btn btn-group"
               dropdown data-button-id="add-name-dropdown"
               data-button-text="Edit" data-ul-id="name-dropdown"
               data-items="restaurantNames" data-select="setRestaurant(item)">
          </div>
          <div data-input-field-directive data-id="r_name"
               data-placeholder-text="Enter new restaurant name"
               data-model="restaurant.name" data-is-required="true">
          </div>
        </div>
      </div>

      <div class="form-group col-md-4">
        <div data-input-field-directive data-title="Phone No." data-id="r_phone"
             data-placeholder-text="+1 234 567 8901"
             data-model="restaurant.phone" data-is-required="true">
        </div>
      </div>

      <div class="form-group col-md-12">
        <div data-input-field-directive data-title="Google Formatted Address" data-id="r_full"
             data-placeholder-text="" data-ng-disabled=true;
             data-model="restaurant.fullAddr" data-is-required="false">
        </div>
      </div>

      <div class="form-group col-md-2">
        <div data-input-field-directive data-title="Number" data-id="r_address"
             data-placeholder-text="" data-model="restaurant.address.number"
             data-is-required="true" data-is-disabled="false">
        </div>
      </div>

      <div class="form-group col-md-5">
        <div data-input-field-directive data-title="Street / Route" data-id="r_street"
             data-placeholder-text="" data-model="restaurant.address.street"
             data-is-required="true" data-is-disabled="false">
        </div>
      </div>

      <div class="form-group col-md-5">
        <div data-input-field-directive data-title="City" data-id="r_city"
             data-placeholder-text="" data-model="restaurant.address.city"
             data-is-required="true" data-is-disabled="false">
        </div>
      </div>

      <!-- <div class="form-group col-md-5">
           <div data-input-field-directive data-title="County" data-id="r_county"
                data-placeholder-text="-" data-model="restaurant.address.county"
                data-is-required="false" data-is-disabled="false">
           </div>
      </div> -->


      <div class="form-group col-md-5">
        <div data-input-field-directive data-title="State / Province" data-id="r_state"
             data-placeholder-text="" data-model="restaurant.address.state"
             data-is-required="true" data-is-disabled="false">
        </div>
      </div>

      <div class="form-group col-md-4">
        <div data-input-field-directive data-title="Country" data-id="r_ctry"
             data-placeholder-text="" data-model="restaurant.address.country"
             data-is-required="true" data-is-disabled="false">
        </div>
      </div>

      <div class="form-group col-md-3">
        <div data-input-field-directive data-title="Postal Code" data-id="r_zip"
             data-placeholder-text="" data-model="restaurant.address.zip"
             data-is-required="true" data-is-disabled="false">
        </div>
      </div>

      <div class="form-group col-md-2">
        <label>Price</label><br>
        <div class="btn-group">
          <div data-dropdown-directive data-button-id="add-price-dropdown"
               dropdown data-button-text='$$$' data-items="[1,2,3,4,5]"
               data-select="setPrice(item)">
          </div>
        </div>
      </div>

      <div class="form-group col-md-10">
        <label>Genre</label>
        <div class="input-group">
          <div data-dropdown-directive class="input-group-btn btn-group"
               dropdown data-button-id="add-genre-dropdown"
               data-button-text="Pick" data-ul-id="genre-dropdown"
               data-items="existingGenres" data-select="setGenre(item)">
          </div>
          <div data-input-field-directive data-id="r_genre"
               data-placeholder-text="Enter new genre"
               data-model="genre" data-is-required="false">
          </div>
          <div class="input-group-btn">
            <button class="btn btn-default" id="add-genre-btn" type="button"
                    data-ng-click="addGenre(genre)">Add</button>
          </div>
        </div>
      </div>

      <div class="form-group col-md-12">
        <label>Featured Menu Item</label>
        <div class="input-group">
          <div data-input-field-directive data-id="r_item"
               data-placeholder-text="Add featured menu item"
               data-model="menu_item" data-is-required="false">
          </div>
          <div class="input-group-btn">
            <button class="btn btn-default" id="add-menu-item-btn"
                    type="button" data-ng-click="addMenuItem(menu_item)">Add</button>
          </div>
        </div>
      </div>

      <div class="form-group col-md-6">
        <div data-input-field-directive data-title="Restaurant Link" data-id="r_site"
             data-placeholder-text="website URL"
             data-model="restaurant.r_site" data-is-required="false">
        </div>
      </div>

      <div class="form-group col-md-6">
        <div data-input-field-directive data-title="Menu Link" data-id="menu_link"
             data-placeholder-text="menu URL if different"
             data-model="restaurant.menu_link" data-is-required="false">
        </div>
      </div>

      <div class="form-group col-md-6">
        <div data-input-field-directive data-title="Blog Link" data-id="blog_link"
             data-placeholder-text="Blog Post URL"
             data-model="restaurant.blog_link" data-is-required="false">
        </div>
      </div>

      <div class="form-group col-md-6">
        <div data-input-field-directive data-title="Monday Hours" data-id="mon_hours"
             data-placeholder-text="10:00am - 10:00pm"
             data-model="restaurant.hours.mon" data-is-required="true">
        </div>
      </div>

      <div class="form-group col-md-6">
        <div data-input-field-directive data-title="Tuesday Hours" data-id="tue_hours"
             data-placeholder-text="10:00am - 10:00pm"
             data-model="restaurant.hours.tue" data-is-required="true">
        </div>
      </div>

      <div class="form-group col-md-6">
        <div data-input-field-directive data-title="Wednesday Hours" data-id="wed_hours"
             data-placeholder-text="10:00am - 10:00pm"
             data-model="restaurant.hours.wed" data-is-required="true">
        </div>
      </div>

      <div class="form-group col-md-6">
        <div data-input-field-directive data-title="Thursday Hours" data-id="thu_hours"
             data-placeholder-text="10:00am - 10:00pm"
             data-model="restaurant.hours.thu" data-is-required="true">
        </div>
      </div>

      <div class="form-group col-md-6">
        <div data-input-field-directive data-title="Friday Hours" data-id="fri_hours"
             data-placeholder-text="10:00am - 10:00pm"
             data-model="restaurant.hours.fri" data-is-required="true">
        </div>
      </div>

      <div class="form-group col-md-6">
        <div data-input-field-directive data-title="Saturday Hours" data-id="sat_hours"
             data-placeholder-text="10:00am - 10:00pm"
             data-model="restaurant.hours.sat" data-is-required="true">
        </div>
      </div>

      <div class="form-group col-md-6">
        <div data-input-field-directive data-title="Sunday Hours" data-id="sun_hours"
             data-placeholder-text="10:00am - 10:00pm"
             data-model="restaurant.hours.sun" data-is-required="true">
        </div>
      </div>

      <div class="btn-bottom col-md-12">
        <button type="submit" class="btn btn-success pull-left"
                data-ng-disabled="restaurant-form.$invalid">{{editing ? 'Update' : 'Save'}}
        </button>

        <button type="button" class="btn btn-danger pull-left btn-mid" data-ng-if="editing" data-ng-click="deleteWarning()"
                data-ng-disabled="restaurant-form.$invalid">Delete
        </button>

        <!-- temporary error message placeholder -->
        <div class="col-md-8" style="color:red; padding-left:20px;float:left;" data-ng-if="err_save !== ''">
          <h5>{{err_save}}</h5>
        </div>
      </div>

    </form>
  </section>

  <!-- preview -->

  <section id="restaurant-info" class="main-right col-md-6">
    <div data-ng-show="display_preview">
      <h2 class="col-md-12">{{restaurant.name}}</h2>

      <div class="col-md-6 header-type pull-left">
        <div>{{restaurant.address.number}} {{restaurant.address.street}}
          <br>{{restaurant.address.city}}, {{restaurant.address.state}} {{restaurant.address.zip}}
        </div>
        <div ng-if='restaurant.address.country !== "United States"'>{{restaurant.address.country}}
        </div>
        <div>{{restaurant.phone}}</div>
      </div>

      <div class="dollars col-md-6 pull-right">
        <h4>Price:&nbsp;&nbsp; {{priceDollars}}</h4>
      </div>

      <div class="preview-genre col-md-6 pull-right">
        <ul class="list-group">
          <button type="button" class="list-group-item pull-left"
                  data-ng-repeat="genre in restaurant.genre"
                  data-ng-click="removeGenre($index)">
            {{genre}}
          </button>
        </ul>
      </div>

      <div class="h-rule col-md-11"></div>

      <div class="col-md-5 pull-left preview-hours">
        <h4>Hours</h4>
        <h5>Mon: {{restaurant.hours.mon}}</h5>
        <h5>Tue: {{restaurant.hours.tue}}</h5>
        <h5>Wed: {{restaurant.hours.wed}}</h5>
        <h5>Thu: {{restaurant.hours.thu}}</h5>
        <h5>Fri: {{restaurant.hours.fri}}</h5>
        <h5>Sat: {{restaurant.hours.sat}}</h5>
        <h5>Sun: {{restaurant.hours.sun}}</h5>
      </div>

      <div class="preview-urls col-md-7 pull-right">
        <div class="col-md-12" data-ng-if="restaurant.r_site">
          <h4>Website</h4>
          <h5>{{restaurant.r_site}}</h5>
        </div>

        <div class="col-md-12" data-ng-if="restaurant.menu_link">
          <h4>Menu</h4>
          <h5>{{restaurant.menu_link}}</h5>
        </div>

        <div class="col-md-12" data-ng-if="restaurant.blog_link">
          <h4>Blog Post</h4>
          <h5>{{restaurant.blog_link}}</h5>
        </div>
      </div>

      <div class="col-md-11 pull-left">
        <div class="list-group">
          <h4 class="col-md-6" style="padding-left:0;" tooltip-placement="right" tooltip="click on entry to remove" tooltip-class="tooltip tooltip-inner"
              >Featured Menu Item</h4>
          <div class="pull-left preview-featured"
               data-ng-repeat="item in restaurant.menu_item"
               data-ng-click="removeMenuItem($index)">
            {{item}}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="restaurant-photos" class="col-md-6 main-right"  data-ng-show="display_preview">
    <h4 class="col-md-12">Photos</h4>
    <div class="col-md-11">
      <div class="carousel">
      </div>
    </div>
  </section>
</main>
